.mainSection{
    display:flex;
    background-color: black;
    justify-content:space-around;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.contentBox{
    width:40%;
    padding-left: 1em;

}

.contentBox h1{
font-size:2.5rem;
color:white;
text-align: center;
font-family:'Poppins', sans-serif ;
}

.contentBox p{
    color:#fff;
    font-size:1.5rem;
    margin:1em 0;
    font-family:'Poppins', sans-serif ;
}
.btnBox{
    width:100%;
    display:flex;
    justify-content: space-around;
    margin-top: 2em;
}

.btn{
  background: #d18904;
  color: #fff;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}

.readMore{
   display: inline-block; 
   font-size: 1.2rem;
   padding:.5em 1.5em;
   text-decoration: none;
   color: black;
}
.imgContainer{
    width: 50%;
    margin-bottom:3em;
}
.imgContainer img{
    border-radius: 30px;
    width: 60%;
    margin: 0 auto;
    display:block;
}
/* media queries */
@media screen and (max-width: 900px) {
 html{
     font-size:14px;
 }   
}
@media screen and (max-width: 768px) {
 html{
     font-size:14px;
 } 
  .mainSection{
    flex-direction: column;
    margin-top:1em;
    
} 
.contentBox{
    width:90%;
    margin: 0 auto;
}
.contentBox h1{
font-size:2rem;


}
.contentBox p{
    font-size:1.4rem;
}
.imgContainer{
    width: 70%;
    margin-bottom:2em;
}
}
@media screen and (max-width: 400px) {
.imgContainer{
    width: 60%;
}
}